# Next.js
NEXT_PUBLIC_BASE_URL=http://localhost:3000

# Finhub Access Key
FINNHUB_API_KEY=your-finhub-api-key

# NEXT_PUBLIC_FINNHUB_API_KEY=crals9pr01qhk4bqotb0crals9pr01qhk4bqotbg

# Main
NEXT_PUBLIC_SUGGESTED=false # to test recommendation switch NEXT_PUBLIC_SUGGESTED=true
NEXT_PUBLIC_NODE_ENV=development
# NEXT_PUBLIC_NODE_ENV=test # Sample JSON test to complete the UI Flow when Backend API not ready


